<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.madcat.development.f1newsreader">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".classesUI.NewsListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".classesUI.NewsPageActivity"
            android:label="@string/news_page_label">
        </activity>

        <provider
            android:name=".data.F1NewsReaderContentProvider"
            android:authorities="by.madcat.development.f1newsreader.data"
            android:enabled="true"
            android:exported="false">
        </provider>

        <service
            android:name=".Services.BackgroundLoadNewsService"
            android:exported="true"/>
        <service
            android:name=".Services.UILoadNewsService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>